
@model WebAtencionClientes.Models.Entitites.ATENCION_CLIENTE

@{
    ViewData["Title"] = "AddClients";
    Layout = "_Layout"; // Este es el nombre del layout por defecto
}

<h1>AddClients</h1>

<h4>ATENCION_CLIENTE</h4>
<hr />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Ancho ideal para formularios -->

            <h2 class="text-center mb-4">Agregar Cliente</h2>

            <form asp-controller="Clientes" asp-action="RegisterClientClick" method="post">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                }
               

                <div class="mb-3">
                    <label for="NOMBRE" class="form-label"></label>
                    <input asp-for="NOMBRE"  class="form-control" />
                    <span asp-validation-for="NOMBRE" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="APELLIDOS" class="form-label"></label>
                    <input asp-for="APELLIDOS" class="form-control" />
                    <span asp-validation-for="APELLIDOS" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CELULAR" class="form-label"></label>
                    <input asp-for="CELULAR" class="form-control" />
                    <span asp-validation-for="CELULAR" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="EMAIL" class="form-label"></label>
                    <input asp-for="EMAIL" class="form-control" />
                    <span asp-validation-for="EMAIL" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="SEXO" class="form-label"></label>
                    <input asp-for="SEXO" class="form-control" />
                    <span asp-validation-for="SEXO" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="MOTIVO" class="form-label"></label>
                    <input asp-for="MOTIVO" class="form-control" />
                    <span asp-validation-for="MOTIVO" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FECHA_ALTA" class="form-label"></label>
                    <input asp-for="FECHA_ALTA" type="hidden" class="form-control" />
                    <span asp-validation-for="FECHA_ALTA" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>

            <div class="mt-3 text-center">
                <a asp-action="ListClients" class="btn btn-link">Volver a la lista</a>
            </div>

        </div>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
